{% extends 'manager/base.html' %}

{% block title %}Схемы{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="caption">Схемы</div>
    <br>
    <button class="create_btn" type="submit">Создать схему</button>
    <button class="edit_btn" type="submit">Редактировать схему</button>
    <button class="delete_btn" type="submit">Удалить схему</button>
    <br><br>
    <div class="caption">Все схемы:</div>
    <table>
        <tbody>
        <tr>
            <th>№</th>
            <th>Имя схемы</th>
            <th>Количество элементов</th>
        </tr>
        {% for td in form.tds %}
        <tr>
            <td>td.id</td>
            <td>td.name</td>
            <td>td.elements_number</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}