{% extends 'manager/base.html' %}

{% block title %}Конфигурация{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="caption">Конфигурация</div><br>
    {{ form }}
    <button class="save_btn" type="submit">Сохранить</button>
    <button class="cancel_btn" type="submit">Отмена</button>
    <br>
    <div class="caption">Управление актинвость бота:</div>
    <button class="on_btn" type="submit">Включить</button>
    <button class="off_btn" type="submit">Выключить</button>
</form>
{% endblock %}