{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link href="{% static 'manager/css/login.css' %}" rel="stylesheet">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="caption">Вход</div>
        <div class="login">Логин</div>
        {{ form.username }}<br>
        <div class="login">Пароль</div>
        {{ form.password }}<br>
        <button class="login_btn" type="submit">Войти</button>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </form>
</body>
</html>