{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'main/css/config.css' %}" rel="stylesheet">
    <title>Конфигурация</title>

</head>
<body>

<div class="config-panel">
    <div class="config">Конфигурация</div>
    <div class="config-token-panel">
        <div>Токен для связи с социальной сетью</div>
        <input type="text" name="config-token" required="required">
        <button type="submit" name="save_btn">Сохранить</button>
        <button type="submit" name="cancel_btn">Отмена</button>
    </div>
    <div class="config-token-panel">
        <div>Сейчас бот:</div>
        <div class="switch-btn"></div>
    </div>
</div>

<script type="text/javascript">
    $('.switch-btn').click(function () {
        $(this).toggleClass('switch-on');
        if ($(this).hasClass('switch-on')) {
            $(this).trigger('on.switch');
        } else {
            $(this).trigger('off.switch');
        }
    });
</script>

</body>
</html>